* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*HEADER*/
header {
    background-color: #EAC926;
    width: 100vw;
    padding: 20px;
}

.main-header-top-bar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.link-logo,
.buscador {
    width: 50%;
    max-width: 300px;
    padding: 10px;
}

.buscador {
    display: flex;
    justify-content: center;
}

.buscador input {
    width: 80%;
}

header .buscador div.input {
    background-color: white;
    color: #666;
    border: none;
}

.copy-header {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
}

header .buscador .lupa i {
    background-color: white;
    color: #666;
}

header .main-header-bottom-bar {
    margin-top: 10px;
}

header nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #000;
    padding: 5px 0
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

header nav ul {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

header div.burger-menu i {
    background-color: #1259c3;
    color: white;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 5px;
}

header nav {
    display: none;
}

header div.burger-menu {
    text-align: center;
    margin: auto;
    display: block;
}

.left-navbar {
    width: 55%;
}

.right-navbar {
    width: 45%
}


/* MAIN */
.main-home {
    background-color: #ebebeb;
    display: flex;
    margin: auto;
}

.main-section section {
    width: 90vw;
    margin: 0 10px;
    padding-top: 0 10px;
    align-items: center;
    margin: auto;
}

.titularh3 {
    margin-left: 10px;
    background-color: #ebebeb;
    margin: 10px
}

main section article div i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
    transition: all 500ms;
}


main .info-art {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #ebebeb;
    margin: 5px;
    padding: 15px;
    justify-content: space-between;
    position: relative
}

.info-art .precio {
    width: 30%;
}

.info-art .descuentos {
    width: 70%;
    color: #39b54a;
}

.banner img {
    width: 100vw;
}

.productos .descripciones {
    font-size: 14px;
    color: #666;
    display: none;
    transition: all 500ms;
}

main section article {
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
    text-align: left;
    background-color: white;
    transition: all 500ms;
}

.productos .foto {
    text-align: center;
    margin: auto;
    width: 100%;
}

/*FORMS*/

.main-form {
    background-color: #ebebeb;
    display: flex;
    justify-content: center
}

.formularios {
    width: 90vw;
    max-width: 450px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 12px;
    background-color: #b6b4b4;
    box-shadow: 2px 2px 5px 2px #666;
}

form div {
    margin-bottom: 10px;
    border-radius: 5%;
}

.formularios h4,
.formularios label {
    margin-bottom: 10px;
}

.text-field {
    padding: 5px;
}

.text-field:hover, .text-field:focus{
    background-color:#ebebeb;    
}

.text-div {
    border-radius: 20%;
}

.selecciones,
.fecha-nac,
form .foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selecciones div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.selecciones label {
    margin-left: 10px;
    margin-bottom: 0;
}

form .foto input {

    width: 60%;
    font-size: 10px;
    background-color: #ebebeb;
}

.control {
    font-style: italic;
    padding: 5px;
}

.botones {
    display: flex;
    width: 55%;
    justify-content: space-between;
}

.botonForm {
    width: 40%;
}

.botonSubmit {
    background-color: #5982c0;
    color: #FFF;
    transition: all 500ms;
}

.botonReset {
    background-color: #5982c0;
    color: #FFF;
    transition: all 500ms;
}

.botonLogin {
    text-align: center;
    background-color: #5982c0;
    color: #FFF;
    padding: 5px;
    transition: all 500ms;
}

.botonLogin:hover,
.botonReset:hover,
.botonSubmit:hover {
    background-color: #0022AA;
}

.password {
    margin-top: 10px;
}

.olvidar{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.olvidar a {
    font-size: 0.7em;
    color: #666;
    text-decoration: none;
}



/* FOOTER */
footer {
    margin-top: 10px;
}

footer article {
    font-size: 11;
    color: #666;
    text-align: center;
    line-height: 1em;
    margin-right: 10px;
    margin-left: 10px;
}

footer article h5 {
    margin: auto;
}

footer article p.icono {
    color: #1259c3;
    text-align: center;
    font-size: 1.7em;
    line-height: 0px;
    margin: 0;
    transition: all 500ms;
}

footer article p.icono:hover {
    color: #39b54a;
}

footer article p.detalle {
    color: #666;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px
}

footer article.copyright {
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
}

/*MEDIA QUERIES*/

@media (min-width:361px) {
    header nav {
        display: flex;
        justify-content: space-around;
    }

    .main-header-top-bar {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .main-header-bottom-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .copy-header {
        max-width: 350px;
        text-align: right;
        font-size: 14px;
    }

    .link-logo,
    .buscador,
    .copy-header {
        max-width: 33%;
    }

    header div.burger-menu {
        display: none;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
    }

    .left-navbar {
        margin-right: 10px;
        width: 100%;
    }

    .right-navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px
    }

    .right-navbar li {
        display: flex;
        width: 33%;
        gap: 10px
    }

    .right-navbar li a {
        margin-left: 10px;
    }

    header nav li i {
        font-size: 13px;
        margin-top: 5px;

    }

    header nav li a {
        font-size: 1.3em;
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap:20px

    }

    .productos article {
        width: 45%;
    }

    .productos .descripciones {
        display: flex;
        width: 100%;
    }

    .formularios {
        font-size: 14px;
    }

    .info-art .descuentos {
        text-align: right;
        width: 50%;
    }

    .info-art .precio {
        width: 55%;
    }

}

@media (min-width:769px) {
    main section article {
        width: 22.5%;
    }

    .productos .foto img {
        max-width: 770px;
    }

    .main-header-top-bar,
    .main-header-bottom-bar {
        max-width: 1000px;
        margin: auto;
    }

    .left-navbar,
    .right-navbar {
        width: 45%;
        gap: 15px
    }

    .copy-header {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }

    .link-logo,
    .buscador,
    .copy-header {
        max-width: 35%;
    }

    .main-header-bottom-bar {
        margin-top: 30px;
    }

    .main-section .productos {
        display: flex;
        width: 90vw;
    }

    .productos article {
        max-width: 350px;
    }
    .productos .descripciones{
        display: block;
        width: 100%;
        font-size: 16px;
    }

    .info-art .descuentos {
        text-align: center;
        width: 70%;
    }

    .info-art .precio {
        width: 30%;
    }

    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section article:hover i {
        transform: rotate(-90deg);
    }
}

@media (min-width:1200px) {

    .productos article {
        flex-wrap: wrap;
        max-width: 20%;
    }

    .left-navbar,
    .right-navbar {
        width: 45%;
    }

    header nav ul {
        display: flex;
        width: 50%;
        justify-content: space-between;
    }

    .right-navbar li {
        display: flex;
        width: 33%;
        gap: 10px
    }

    header nav li i {
        font-size: 13px;
        margin-top: 5px;
    }

    .productos .descripciones {
        display: none;
        transition: all 400ms;
    }

    main section article:hover .descripciones {
        display: block;
        width: 100%;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        width: 100%;
    }

    .art-footer {
        width: 30%;
    }

    .copyright {
        margin-top: 15px;
    }

}